## Question 1
Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

Then do the following:

- Extract the second element of the list.

- Extract the first to third (inclusive) element of the list.

- Extract everything except the last element of the list.

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

In [2]:
shopping[1]

'ham'

In [3]:
shopping[:3]

['spam', 'ham', 'eggs']

In [4]:
shopping[:-1]

['spam', 'ham', 'eggs']

## Question 2
Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

- Append Edinburgh Waverley to the end of the list
- Add "Queen Street" to the start of the list
- Find out what index "Croy" is at in the list
- Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
- Remove "Haymarket" from the list of stops
- Remove all items from stops

In [5]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [6]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [7]:
stops.insert(0,"Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [8]:
stops.index("Croy")

1

In [9]:
stops.insert(4, "Polmont")

In [10]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [11]:
stops.remove("Haymarket")

In [12]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [13]:
stops.clear()
stops

[]

## Question 3
Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

- Return the keys, values and items from this dictionary

- Take out only the name from it

- Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

- Delete the job description from the dictionary (Hint: look up the del function)

In [14]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [15]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [16]:
person.values()

dict_values(['Steph', 31, True])

In [17]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [18]:
person["name"]

'Steph'

In [19]:
person.update({
    "email": "steph@codeclan.com"
})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [20]:
del person["Instructor"]

In [21]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Question 4
For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

- Print out a list of the even integers:

- Print the difference between the largest and smallest value:

- Print True if the list contains a 2 next to a 2 somewhere.

- Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [22]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [23]:
even_numbers = []
for i in numbers:
    if i % 2 == 0:
        even_numbers.append(i)
even_numbers

[6, 2, 2, 6]

In [24]:
largest = 0
smallest = 10
for i in numbers:
    if i > largest:
        largest = i
    elif i < smallest:
        smallest = i
        
largest - smallest

98

In [25]:
def has22(nums):
    for i in range(len(nums) - 1):
        if (nums[i] == 2) and (nums[i + 1] == 2):
            return True
    return False
has22(numbers)

True

In [26]:
def has_22(nums):
    return (2, 2) in zip(nums, nums[1:])

has_22(numbers)

True

In [27]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
def sum67(nums):
    flag = False
    sum = 0

    for num in nums:
        if(num == 6):                  #Turn the flag on if the number is 6
            flag = True
            continue
        if(num == 7 and flag is True): #Turn the flag Off when 7 is seen after 6
            flag = False
            continue
        if(flag is False):           #Keep on adding the nums otherwise
           sum += num
    return sum

sum67(numbers)

2

In [28]:
def sum_67(nums):
    flag = False
    sum = 0

    for num in nums:
        if(num == 6):                  #Turn the flag on if the number is 6
            flag = True
        elif(num == 7 and flag is True): #Turn the flag Off when 7 is seen after 6
            flag = False
        elif(flag is False):           #Keep on adding the nums otherwise
            sum += num
    return sum

sum_67(numbers)

2

## Question 5
Write a conditional that takes in two inputs :

- python_is_fun = True
- python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [29]:
python_is_fun = False
python_is_weird = False

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
elif python_is_fun == True and python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

## Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [30]:
chickens = [{ "name": "Margaret", "age": 2, "eggs": 0 },
            { "name": "Hetty", "age": 1, "eggs": 2 },
            { "name": "Henrietta", "age": 3, "eggs": 1 }, 
            { "name": "Audrey", "age": 2, "eggs": 0 }, 
            { "name": "Mabel", "age": 5, "eggs": 1 }]

In [31]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

In [32]:
chickens = [{ "name": "Margaret", "age": 2, "eggs": 0 },
            { "name": "Hetty", "age": 1, "eggs": 2 },
            { "name": "Henrietta", "age": 3, "eggs": 1 }, 
            { "name": "Audrey", "age": 2, "eggs": 0 }, 
            { "name": "Mabel", "age": 5, "eggs": 1 }]

def count_eggs(egg_list):
    
    total_eggs = 0
    
    for egg in egg_list:
        total_eggs += egg["eggs"]
        egg["eggs"] = 0 # changes status of eggs to 0 as they were collected
        
    return f"{total_eggs} eggs collected"

count_eggs(chickens)

'4 eggs collected'

In [33]:
chickens = [{ "name": "Margaret", "age": 2, "eggs": 0 },
            { "name": "Hetty", "age": 1, "eggs": 2 },
            { "name": "Henrietta", "age": 3, "eggs": 1 }, 
            { "name": "Audrey", "age": 2, "eggs": 0 }, 
            { "name": "Mabel", "age": 5, "eggs": 1 }]
first_chicken = chickens[0]
first_chicken["eggs"]

0

# Extensions
## Ouestion 1

- Change the capital of Wales from "Swansea" to "Cardiff".
- Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).
- Use a loop to print the names of all the countries in the UK.
- Use a loop to find the total population of the UK.

In [34]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [35]:
united_kingdom[1]["capital"] = "Cardif"

In [36]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardif'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [39]:
united_kingdom.append({
    "name":"Northern Irelan",
    "population":1811000,
    "capital":"Belfast"
})

In [40]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardif'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Irelan', 'population': 1811000, 'capital': 'Belfast'}]

In [42]:
for i in united_kingdom:
    print(i["name"])

Scotland
Wales
England
Northern Irelan

In [43]:
for i in united_kingdom:
    print(i)

{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'}
{'name': 'Wales', 'population': 3063000, 'capital': 'Cardif'}
{'name': 'England', 'population': 53010000, 'capital': 'London'}
{'name': 'Northern Irelan', 'population': 1811000, 'capital': 'Belfast'}

In [45]:
total_population = 0
for i in united_kingdom:
    total_population += i["population"]
total_population

63179000

## Question 2

1. Get Jonathan's Twitter handle (i.e. the string "jonnyt")
2. Get Erik's hometown
3. Get the array of Erik's lottery numbers
4. Get the species of Avril's pet Monty
5. Get the smallest of Erik's lottery numbers
6. Return an array of Avril's lottery numbers that are even
7. Erik is one lottery number short! Add the number 7 to be included in his lottery numbers
8. Change Erik's hometown to Edinburgh
9. Add a pet dog to Erik called "Fluffy"
10. Add another person to the users dictionary

In [46]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [47]:
# Get Jonathan's Twitter handle (i.e. the string "jonnyt")

users["Jonathan"]["twitter"]

'jonnyt'

In [48]:
# Get Erik's hometown

users["Erik"]["home_town"]

'Linlithgow'

In [50]:
# Get the array of Erik's lottery numbers

users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [54]:
# Get the species of Avril's pet Monty

users["Avril"]["pets"][0]["species"]

'snake'

In [56]:
# Get the smallest of Erik's lottery numbers

sorted(users["Erik"]["lottery_numbers"])[0]

8

In [60]:
# Return an array of Avril's lottery numbers that are even

lottery_numbers = users["Avril"]["lottery_numbers"]
even = []
for i in lottery_numbers:
    if i % 2 == 0:
        even.append(i)
even

[12, 14, 38]

In [61]:
# Erik is one lottery number short! Add the number 7 to be included in his lottery numbers

users["Erik"]["lottery_numbers"].append(7)

In [62]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [63]:
# Change Erik's hometown to Edinburgh

users["Erik"]["home_town"] = "Edinburgh"

In [64]:
# Add a pet dog to Erik called "Fluffy"

users["Erik"]["pets"][0].update({ "name": "Fluffy", "species": "dog" })

In [65]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'Fluffy', 'species': 'dog'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [66]:
# Add another person to the users dictionary

users.update({"Karolina":{"twitter":"ttt",
                         "lottery_numbers": [2,3,4,5,6,7],
                         "home_town":"London",
                         "pets":[{"name":"bo",
                                 "species":"dog"}]}})

In [67]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'Fluffy', 'species': 'dog'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'Karolina': {'twitter': 'ttt',
  'lottery_numbers': [2, 3, 4, 5, 6, 7],
  'home_town': 'London',
  'pets': [{'name': 'bo', 'species': 'dog'}]}}